* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
    padding-bottom: 5em;
}

.home-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu {
  background: #2d3e50;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
  text-transform: none;
}

.home-menu .pure-menu-heading span {
  padding-left: 0.5em;
  font-size: small;
  color: #ccc;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

@media (min-width: 48em) {
  .home-menu ul {
    float: right;
  }
}